:root {
    --titles-font: 'Inter';
    --geist-background: #000;
    --geist-foreground: #fff;
}
body {
    font-family: var(--titles-font);
    max-width: 1300px;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--geist-background);
}

p {color: var(--geist-foreground);}
h2 {
    color: var(--geist-foreground);
    font-size: 17px;
}



