.text {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.home {
    position: relative;
    left: 15%;
}
.userphoto {
    position: relative;
    width: 50px;
    margin: 15px;
    border-radius: 100%;
    cursor: pointer;
    left: 10%;
}

.headerNav {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content:left;
}

.post {
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start; 
    width: 80%;
    height: 100%;
    max-width: 600px;
    min-width: 300px;
    margin-top: 50px;
    padding: 10px;
    margin-bottom: 25px;
    left: -10%;
}

.postContainer{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.postContent{
    position: relative;
    top: 15px;
}

.postContent p {
    position: relative;
    top: 30px;
    padding-bottom: 45px;
    right: 40px;
}